.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3b3b3b30;
}


/* Target the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the scrollbar width */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: light background for the track */
}

/* Handle (the actual draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #000; /* Black color for the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

/* Optional: Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darker black when hovered */
}
